**/*
!config
!config/**
!**/*.ts
!test
!test/**
**/*.d.ts
!README.md
!.editorconfig
!jest.config.js
!.npmignore
!.npmrc
!manifest.yml
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.decorators.json
!.github
